# See https://help.github.com/articles/ignoring-files/ for more about ignoring 

# dependencies
clientApp/node_modules
clientApp/.pnp
clientApp.pnp.js

# testing
clientApp/coverage

# production
clientApp/build

# misc
clientApp/.DS_Store
clientApp/.env.local
clientApp/.env.development.local
clientApp/.env.test.local
clientApp/.env.production.local

clientApp/npm-debug.log*
clientApp/yarn-debug.log*
clientApp/yarn-error.log*

# # mine
clientApp/src/config

# for server
serverApp/node_modules
serverApp/src/config
